<%= form_with(model: skills_user, local: true) do |form| %>
  <% if skills_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skills_user.errors.count, "error") %> prohibited this skills_user from being saved:</h2>

      <ul>
      <% skills_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <%= form.label :skill_id %>
      <%= form.select(:skill_id, options_for_select(Skill.all.map{|skill| [skill.name, skill.id]}),{},{ :class => "form-control form-control-sm" })%>
    </div>
    <div class="col-md-2">
      <%= form.label :user_id %>
      <%= form.select(:user_id, options_for_select(User.all.map{|user| ["ID #{user.id} : #{user.points} points", user.id]}),{},{ :class => "form-control form-control-sm" })%>
    </div>
  </div>

<div style="margin-top: 15px; margin-bottom: 15px">
  <%= form.submit nil, :class => "btn btn-secondary btn-sm active"  %>
</div>

<% end %>
