<h1>Editing Skills User</h1>

<%= render 'form', skills_user: @skills_user %>

<div class="col-md-16">
	<ul class="nav">
		<div style="margin-right: 2px">
		   <li class="nav-item"> 
		    <%= link_to 'Show', @skills_user,  :class => "btn btn-secondary btn-sm active"  %>
		   </li>
		</div>
		<div style="margin-right: 2px">
		   <li class="nav-item"> 
		    <%= link_to 'Back', skills_users_path,  :class => "btn btn-secondary btn-sm active"  %>
		   </li>
		</div>
</ul>
