<p id="notice"><%= notice %></p>

<h1>Welcome!</h1>
<h1>Agorize Test RubyOnRails</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Skill</th>
      <th scope="col">Points</th>
      <th scope="col">Number of users</th>
    </tr>
  </thead>
  <tbody>
    <% @skills_points.each do |skills_point| %>
      <tr>
        <td><%= skills_point[:name] %></td>
        <td><%= skills_point[:number_of_points] %></td>
        <td><%= skills_point[:number_of_users] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row-md-16">
    <ul class="nav">
      <div style="margin-right: 2px">
        <li class="nav-item">
        <%= link_to 'Create and Manage Users', new_user_path(@user),  :class => "btn btn-secondary btn-sm active"   %>
        </li>
      </div>
      <div style="margin-right: 2px">
        <li class="nav-item">
        <%= link_to 'Create and Manage Skills', new_skill_path(@skill),  :class => "btn btn-secondary btn-sm active"   %>
        </li>
      </div>
      <div style="margin-right: 2px">
        <li class="nav-item">
        <%= link_to 'Associate Skills to Users', new_skills_user_path(@skills_user),  :class => "btn btn-secondary btn-sm active"   %>
        </li>
      </div>
    </div>
  </ul>
  </div>
</div>