<p id="notice"><%= notice %></p>

<h1>Skills and Users</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Skill</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skills_users.each do |skills_user| %>
      <tr>
        <td><%= skills_user.skill.name %></td>
        <td><%= skills_user.user.id %></td>
        <td><%= link_to 'Show', skills_user %></td>
        <td><%= link_to 'Edit', edit_skills_user_path(skills_user) %></td>
        <td><%= link_to 'Destroy', skills_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<ul class="nav">
   <li class="nav-item"> 
    <%= link_to 'New Skills User', new_skills_user_path,  :class => "btn btn-secondary btn-sm active"  %>
   </li>
</ul>
