<h1>New Skill-User Association</h1>


<%= render 'form', skills_user: @skills_user %>

<ul class="nav">
   <li class="nav-item"> 
    <%= link_to 'Show table Skils and Users', skills_users_path,  :class => "btn btn-secondary btn-sm active" %>
   </li>
</ul>
