<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @skills_user.skill.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @skills_user.user.id %>
</p>

<div class="col-md-16">
  <ul class="nav">
    <div style="margin-right: 2px">
        <li class="nav-item">  
          <%= link_to 'Edit', edit_skills_user_path(@skills_user),  :class => "btn btn-secondary btn-sm active"  %>
       </li>
     </div>
     <div style="margin-right: 2px">
       <li class="nav-item"> 
          <%= link_to 'Back', skills_users_path,  :class => "btn btn-secondary btn-sm active"  %>
       </li>
   </div>
  </ul>
</div>

