<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-2">
    <%= form.label :points %>
    <%= form.number_field :points, class: "form-control form-control-sm" %>
  </div>
</div>
  <div style="margin-top: 15px">
    <div class="actions">
      <%= form.submit nil, :class => "btn btn-secondary btn-sm active"  %>
    </div>
  </div>
<% end %>
