<h1>Editing User</h1>

<%= render 'form', user: @user %>


<div class="col-md-16">
	<ul class="nav">
		<div style="margin-right: 2px">
		   <li class="nav-item"> 
		   	 	<%= link_to 'Show', @user,  :class => "btn btn-secondary btn-sm active"  %>
		   </li>
		</div>
		<div style="margin-right: 2px">
		   	<li class="nav-item"> 
		    	<%= link_to 'Back', users_path, :class => "btn btn-secondary btn-sm active" %>
		   </li>
		</div>
</ul>


