<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.points %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<ul class="nav">
   <li class="nav-item"> 
    <%= link_to 'New User', new_user_path,  :class => "btn btn-secondary btn-sm active"  %>
   </li>
</ul>
