<h1>New User</h1>

<%= render 'form', user: @user %>

<ul class="nav">
	 <li class="nav-item"> 
		<%= link_to 'Show table Users', users_path, :class => "btn btn-secondary btn-sm active"  %>
	 </li>
</ul>
