<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.id %>
</p>
<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<div class="col-md-16">
<ul class="nav">
	<div style="margin-right: 2px">
		<li class="nav-item"> 
			<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-secondary btn-sm active"  %>
		</li>
	</div>
	<div style="margin-right: 2px">
	 <li class="nav-item"> 
	 	<%= link_to 'Back', users_path, :class => "btn btn-secondary btn-sm active"  %>
	 </li>
	</div>
</ul>

