<%= form_with(model: skill, local: true) do |form| %>
  <% if skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control form-control-sm" %>
    </div>
    <div class="col-md-2">
      <%= form.label :parent_skill_id %>
      <%= form.select(:parent_skill_id, options_for_select(Skill.all.map{|skill| [skill.name, skill.id]}), {:include_blank => 'None Specified'},{ :class => "form-control form-control-sm" })%>
    </div>
  </div>

  <div style="margin-top: 15px">
    <div class="actions">
      <%= form.submit nil, :class => "btn btn-secondary btn-sm active"   %>
    </div>
  </div>
<% end %>
