<h1>Editing Skill</h1>

<%= render 'form', skill: @skill %>

<div class="col-md-16">
	<ul class="nav">
		<div style="margin-right: 2px">
		   <li class="nav-item">
    			<%= link_to 'Show', @skill,  :class => "btn btn-secondary btn-sm active"  %>
   			</li>
   			</div>
		<div style="margin-right: 2px">
		   <li class="nav-item"> 
		    <%= link_to 'Back', skills_path,  :class => "btn btn-secondary btn-sm active"  %>
		   </li>
		</div>
	</ul>
</div>
