<h1>New Skill</h1>

<%= render 'form', skill: @skill %>

<ul class="nav">
   <li class="nav-item"> 
    <%= link_to 'Show table Skills', skills_path,  :class => "btn btn-secondary btn-sm active"  %>
   </li>
</ul>
