<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Parent skill:</strong>
  <% if @skill.parent_skill != nil %> 
    <%= @skill.parent_skill.id %>
  <% end %>
</p>

<div class="col-md-16">
  <ul class="nav">
    <div style="margin-right: 2px">
     <li class="nav-item"> 
      <%= link_to 'Edit', edit_skill_path(@skill),  :class => "btn btn-secondary btn-sm active"  %>
     </li>
    </div>
    <div style="margin-right: 2px">
     <li class="nav-item"> 
      <%= link_to 'Back', skills_path,  :class => "btn btn-secondary btn-sm active"  %>
     </li>
   </div>
  </ul>
</div>
