<!DOCTYPE html>
<html>
  <head>
    <title>AgorizeTestRonr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div>
      <br>
    <%= button_to 'Home', root_path, :class => 'btn btn-secondary btn-lg active', method: :get %>
    </div>
  </body>
</html>
